.container{
    padding: 10px;
    padding-top: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
button:hover, li:hover {
 cursor: pointer; 
}

ul {
 width: 300px;
 list-style: none;
 padding-left: 0px;
}

input {
    font-size: 18px;
    padding: 10px 5px;
}

li {
 color: white;
 text-align: center;
 font-size: 26px;
 background-color: rgb(15, 93, 104);
 padding: 20px;
 border-radius: 5px;
 border: 1px solid black;
 margin-bottom: 10px;
}

.original:hover {
 background-color: rgb(10, 82, 95);
 text-transform: uppercase;
}